@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "daisyui";

.active{
    border-bottom: 2px solid rgb(227, 154, 58);
    width: fit-content;
}
.overlay{
 background: #151515;
background: radial-gradient(circle, rgba(21, 21, 21, 0.51) 0%, rgba(255, 255, 255, 1) 32%);
}
.container{
    max-width: 1152px;
    margin: auto;
}

@media (max-width: 1023px) {
  .container {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}



body{
    font-family: "Nunito", sans-serif;
}